<div class="smallpagetitle pagetitle"><%=image_tag("/assets/images/petstagram.png") %></div>
<div class="allforms">
  <h1>Login To Your Profile</h1>
  <%=form_with model: @owner, url: "/sessions" do |form| %>
    <%= form.email_field :email, placeholder: "email", class: :forminput %> <br>
    <%= form.password_field :password, placeholder: "password", class: :forminput %> <br>
    <%= form.submit "login", class: :formsubmit %>
  <%end%>
</div>
