<%= link_to "login", new_session_path, class: :linkbutton %>
<div class="landingpagetitle pagetitle"><%=link_to (image_tag("/assets/images/petstagram.png")), home_path %></div>

<h2>Instagram For Your Pets</h2>

<div id="landingpagemain">
  <%=image_tag("/assets/images/petstagram-logo.png") %>
  <div class="landingpage">
    <%= link_to "signup", new_owner_path, class: :linkbutton %>
    <%= link_to "go to feed", feed_path, class: :linkbutton %>
  </div>
</div>
