<div class="smallpagetitle pagetitle"><%=link_to (image_tag("/assets/images/petstagram.png")), home_path %></div>

<div class="allforms">
  <h1>Create A Profile</h1>
  <%= form_with model: @owner do |form| %>
    <%= form.text_field :name, placeholder: 'your name',class: :forminput %> <br>
    <%= form.email_field :email, placeholder: 'email', class: :forminput %> <br>
    <%= form.password_field :password, placeholder: 'password', class: :forminput %> <br>
    <%= form.submit "sign up", class: :formsubmit %>
  <% end %>
</div>
