<div class="smallpagetitle pagetitle"><%=image_tag("/assets/images/petstagram.png") %></div>
<%= button_to "logout", logout_path %>
<div class="profilebuttonsright">
  <button class="feedbuttonclick">Go To Feed</button>
  <button class="newpetbutton">Add New Pet</button>
  <button class="newpostbutton">Post A Pic</button>
</div>

<h1><%= @owner.name %>'s Profile!</h1>
<h2>Your Pets</h2>
<div class="allownerrpets"
  <% @pets.each do |pet| %>
    <div class="ownerpet">
      <%=pet.name%>
      <%= image_tag(pet.image_url.to_s)%>
  </div>
  <%end%>
</div>
