<div class="profileheader">
  <%= button_to "logout", logout_path, class: :logoutbutton %>
  <div class="profiletitles">
    <div class="smallpagetitle pagetitle"><%=link_to (image_tag("/assets/images/petstagram.png")), home_path %></div>
    <h2>Your Pets</h2>
  </div>
  <div class="profilebuttonsright">
    <%= link_to "go to feed", feed_path, class: :linkbutton %>
    <%= link_to "add new pet", new_pet_path, class: :linkbutton %>
    <%= link_to "post a pic", new_post_path, class: :linkbutton %>
  </div>
</div>

<div class="allownerpets">
  <% @pets.each do |pet| %>
    <div class="ownerpet">
      <%= link_to (image_tag(pet.image_url.to_s)), "/pets/#{pet.id}"%>
      <h2><%=pet.name%></h2>
      <%=link_to "edit pet", "/pets/#{pet.id}", class: :petpagepostbutton %>
  </div>
  <%end%>
</div>
