<div class="smallpagetitle"><%=image_tag("/assets/images/petstagram.png") %></div>
<h1>Add A Pet</h1>
<div id="newpetsignupform">
  <%= form_with model: @pet do |form| %>
    <%= form.text_field :name, placeholder: "pet's name" %> <br>
    <%= form.file_field :image, placeholder: "image"  %> <br>
    <%= form.hidden_field :image_cache %>
    <%= form.select :species, ['dog', 'cat', 'other']%> <br>
    <%= form.text_field :breed, placeholder: 'breed' %> <br>
    <%= form.text_field :favorite_thing, placeholder: "favorite thing" %> <br>
    <%= form.hidden_field :owner_id, value: current_owner.id %>
    <%= form.submit "add pet" %>
  <% end %>
</div>
