<div class="smallpagetitle pagetitle"><%=link_to (image_tag("/assets/images/petstagram.png")), home_path %></div>
<div class="allforms">
<h1>Add A Pet</h1>
  <%= form_with model: @pet do |form| %>
    <%= form.file_field :image, class: :forminput  %> <br>
    <%= form.hidden_field :image_cache %>
    <%= form.text_field :name, placeholder: "pet's name", class: :forminput %> <br>
    <%= form.select :species, ['dog', 'cat', 'other'], {}, class: :formselect %> <br>
    <%= form.text_field :breed, placeholder: 'breed', class: :forminput %> <br>
    <%= form.text_field :favorite_thing, placeholder: "favorite thing", class: :forminput %> <br>
    <%= form.hidden_field :owner_id, value: current_owner.id %>
    <%= form.submit "add pet", class: :formsubmit %>
  <% end %>
</div>
