<div class="profileheader">
  <div class="petpage">
    <div class="petprofilepic">
      <%= image_tag(@pet.image_url.to_s)%>
    </div>
    <div class="petinfo">
      <p>Name: <%= @pet.name%> <br></p>
      <p>Type: <%= @pet.species%><br></p>
      <p>Breed: <%= @pet.breed%><br></p>
      <p>Favorite Thing: <%= @pet.favorite_thing%></p>
    </div>
  </div>
  <div class="profilebuttonsright">
    <%=button_to "delete pet", @pet, method: :delete, class: :weirdbutton %>
    <%=link_to "edit pet", edit_pet_path, class: :linkbutton %>
    <%=link_to "return to my profile", current_owner, class: :linkbutton %>
  </div>
</div>

<div class="feedpage">
  <% @posts.reverse.each do |post| %>
    <div class="feedposts">
      <%= image_tag(post.image_url.to_s) %>
      <p class="feedcomments">"<%= post.comment %>"</p>
      <%=link_to "edit post", "/posts/#{post.id}", class: :petpagepostbutton %>
    </div>
  <% end %>
</div>
