<div class='feedheader'>
  <%if current_owner == nil %>
    <%= link_to "login", new_session_path, class: :linkbutton %>
    <%= link_to "signup", new_owner_path, class: :linkbutton %>
  <%else%>
    <%= link_to "profile", current_owner, class: :linkbutton %>
  <% end %>
  <div class="smallpagetitle pagetitle"><%=link_to (image_tag("/assets/images/petstagram.png")), home_path %></div>
</div>

<div class="feedpage">
  <% @posts.reverse.each do |post| %>
    <div class="feedposts">
      <%= image_tag(post.image_url.to_s) %>
      <p class="feedcomments">"<%= post.comment %>"</p>
    </div>
  <% end %>
</div>
